#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "headplane"
name = "Headplane"
description.en = "Advanced UI for Headscale"
description.fr = "Interface utilisateur avancée pour Headscale"

version = "0.6.1~ynh1"

maintainers = ["mdtita"]

[upstream]
license = "MIT"
admindoc = "https://github.com/tale/headplane/blob/main/docs/Advanced-Integration.md"
code = "https://github.com/tale/headplane"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "1.2G"
ram.build = "2G"
ram.runtime = "330M"

[install]
    [install.domain]
    type = "domain"
    help.en = "Choose a dedicated domain for the app. It will then be accessible on the `/admin` path on that domain."
    help.fr = "Choisissez un domaine dédié pour l'application. Elle sera ensuite accessible à l'adresse `/admin` de ce domaine."

    [install.dex]
    type = "app"
    filter = "match(id, '^(dex)(__[0-9+])?$')"
    ask.en = "Select the Dex app that will handle authentication for Headplane."
    ask.fr = "Sélectionnez l'app Dex qui gérera l'authentification pour Headplane."
    help.en = "You need to have at least one instance of Dex installed beforehand on your server."
    help.fr = "Vous devez avoir au moins une instance de Dex préalablement installée sur votre serveur."

    [install.headscale]
    type = "app"
    filter = "match(id, '^(headscale)(__[0-9+])?$')"
    ask.en = "Select the Headscale app that will be managed by Headplane."
    ask.fr = "Sélectionnez l'app Headscale qui sera gérée par Headplane."
    help.en = "You need to have at least one instance of Headscale installed beforehand on your server."
    help.fr = "Vous devez avoir au moins une instance de Headscale préalablement installée sur votre serveur."

    [install.init_admin_permission]
    type = "group"
    default = "admins"
    ask.en = "Select which group can access Headplane."
    ask.fr = "Selectionnez quel groupe peut accéder à Headplane."
    help.en = "You can log in Headplane with your YunoHost credentials. You may leave access to visitors if you want to allow external accounts to log in with an authentication key from Headscale."
    help.fr = "Vous pouvez vous connecter à Headplane avec vos identifiants YunoHost. Vous pouvez laisser l'accès aux visiteurs si vous souhaitez autoriser l'accès à des comptes extérieurs se connectant avec une clé d'authentification de Headscale."

[resources]

    [resources.sources.main]
    url = "https://github.com/tale/headplane/archive/refs/tags/v0.6.1.tar.gz"
    sha256 = "14efd96f9b3a02500ca936dcaf48daf6cafd710b0c916577e67fec61773d20c2"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["agent_data"]

    [resources.permissions]
    main.url = "/"
    main.show_tile = false
    main.allowed = "admins"
    admin.url = "/admin"

    [resources.ports]

    [resources.nodejs]
    version = "22"

    [resources.go]
    version = "1.25.1"
