#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "headplane"
name = "Headplane"
description.en = "Advanced UI for Headscale"
description.fr = "Interface utilisateur avancée pour Headscale"

version = "0.6.1~ynh1"

maintainers = ["mdtita"]

[upstream]
license = "MIT"
admindoc = "https://github.com/tale/headplane/blob/main/docs/Advanced-Integration.md"
code = "https://github.com/tale/headplane"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "90M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"
    help.en = "Choose a dedicated domain for the app. It will then be accessible on the `/admin` path on that domain."
    help.fr = "Choisissez un domaine dédié pour l'application. Elle sera ensuite accessible à l'adresse `/admin` de ce domaine."

    [install.dex]
    type = "app"
    filter = "match(id, '^(dex)(__[0-9+])?$')"
    ask.en = "Select the Dex app that will handle authentication for Headplane."
    ask.fr = "Sélectionnez l'app Dex qui gérera l'authentification pour Headplane."
    help.en = "You need to have at least one instance of Dex installed beforehand on your server."
    help.fr = "Vous devez avoir au moins une instance de Dex préalablement installée sur votre serveur."

    [install.headscale_url]
    ask.en = "Enter Headscale install URL"
    ask.fr = "Entrez l'URL de Headscale"
    type = "string"
    example = "https://headscale.domain.tld"
    pattern.regexp = "^https?://.*$"
    pattern.error = "URL needs to starts with 'https://' (or 'http://' for debugging purposes)"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources.main]
    url = "https://github.com/tale/headplane/archive/refs/tags/v0.6.1.tar.gz"
    sha256 = "14efd96f9b3a02500ca936dcaf48daf6cafd710b0c916577e67fec61773d20c2"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.nodejs]
    version = "22"

    [resources.go]
    version = "1.25.1"
