
test_format = 1.0

[default]
    # Exclude specific tests that are not relevant for your app
    exclude = ["install.private", "install.multi", "install.subdir", "change_url"]

    # ------------
    # Tests to run
    # ------------

    preinstall = """
    sudo yunohost tools update apps
    sudo yunohost domain add dex.domain.tld
    sudo yunohost app install dex -a "domain=dex.domain.tld&path=/&oidc_name=&oidc_secret=&oidc_callback"
    sudo yunohost domain add headscale.domain.tld
    sudo yunohost app install https://github.com/YunoHost-Apps/headscale_ynh/tree/master -f -a "dex=dex&domain=headscale.domain.tld&base_domain=vpn.internal"
    """

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.dex = "dex"
    args.headscale = "headscale"

    # -------------------------------
    # Curl tests to validate that the app works
    # -------------------------------
    [default.curl_tests]
    #home.path = "/admin"
    #home.expect_return_code= 200

    login.path = "/admin/login"
    login.expect_content = "Welcome to Headplane"
    #login.auto_test_assets = true
